<h1>Editing user</h1>

<%= render "form", user: @user %>

<br>

<div>
  <button class="btn" style="background-color: #480C5C;"><%= link_to "Show this user", @user, style: "text-decoration:none; color: white" %></button>
</div>
<br>
<div>
  <button class="btn" style="background-color: #eb5444;"><%= link_to "Back to users", users_path, style: "text-decoration:none; color: white" %></button>
</div>

