<h1>Users</h1>

<br>

<%= render "search_form", user: @user %>

<br>

<div class="row">
    <div id="users"  class="col-6 card p-3 class">
      <% @users.each do |user| %>
        <%= render user %>
        <div>
          <button class="btn" style="background-color: #480C5C;"><%= link_to "Show this user", user, style: "text-decoration:none; color: white" %></button>
        </div>
      <% end %>
    </div>
</div>

<br>

<button class="btn" style="background-color: #eb5444"><%= link_to "New user", new_user_path, style: "text-decoration:none; color: white" %></button>

<br>