<h1>New user</h1>

<%= render "form", user: @user %>
<br>
<div>
  <button class="btn" style="background-color: #eb5444;"><%= link_to "Back to users", users_path, style: "text-decoration:none; color: white" %></button>
</div>